@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #f8f8f8;
  --color-text: #222222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: steelblue;
    --color-text: #f8f8f8;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  /* line-height: 1.6; */
  font-family: Roboto;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
